<div id="find_city_block" class="find_city_block">
  <div class="city_info">
    <h1>Paris, France</h1>
    <h2>04:30 <span>am</span></h2>
    <h3>26 March</h3>
    <p>Tuesday</p>
  </div>
  <div class="weather_info">
    <img src="images/snow.png" alt="" />
    <h2>12 <span>°C</span></h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt pariatur
      nam quae doloribus doloremque nihil ratione numquam fugit, cupiditate unde
      ab magnam aliquam quo similique nisi rerum aspernatur? Itaque ducimus,
      quod fugit veritatis atque eos?
    </p>
  </div>
</div>
