* {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: rgb(10, 12, 33);
  --secondary-color: #eb1555;
  --primary-color-light: #1d1f33;
  --roboto-font: "Roboto";
  --active-element-color-light: #3e4054;
}
.popular_cities_block {
  border-radius: 40px;
  background-color: rgb(10, 12, 33);
  padding: 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.cities_weather {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
